:host {
  padding: 8px 16px;
  margin: 8px;
  cursor: pointer;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}
:host([type='action']) {
  padding: 16px 32px;
  background: #f9f9ff;
  background: #e4ebf8;
  margin: 8px;
  border-radius: 8px;
  min-width: 90px;
  font-weight: 600;
  color: var(--text-primary, black);
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0px 2px 2px #15161841;
  font-size: 18px;
}
:host([type='action']:hover) {
  opacity: 0.8;
  box-shadow: 0px 1px 1px #15161841;
}

:host([type='primary']) {
  background: rgb(36, 43, 58);
  border-radius: 8px;
  color: white;
}
